{% extends 'base.html' %}

{% block content %}

<div class="container">

    <div class="row">
    <div class="col-md-12 m-4" style="text-align: center;">
        <div>
            <form method="POST">
                <label for="title" style="font-weight: bolder; font-size: larger;">TODO Title</label>
                <input type="text" id="title" name="title" placeholder="Enter Todo...">
                <input type="text" id="status" name="status" placeholder="Status" value="Not Completed">
                <button class="btn btn-primary" type="submit" id="create">Add</button>
            </form>
            <span style="color: red; font-weight: bold;" id="errormsg" ></span>
        </div>
    </div>

    <div class="col-md-12">
    <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Status</th>
            <th></th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
        {% for todo in todo_list %}
        <tr>
        <td>{{ todo.id }}</td>
        <td>{{ todo.title }}</td>
        <td><input type="text" id="statusInput{{ todo.id }}" name="status" value="{{ todo.status }}"></td>
        <td><span id="span{{ todo.id }}"></span></td>
        <td><a class="btn btn-primary updateButton" todo_id="{{ todo.id }}" href="/update">Update</a></td>
        <td><a class="btn btn-danger" href="/delete/{{ todo.id }}">Delete</a></td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
    </div>

</div>

<script>
    $(document).ready(function() {

        $('.updateButton').on('click', function(e) {
            e.preventDefault();
            var todo_id = $(this).attr('todo_id');
            var status = $('#statusInput'+todo_id).val();

            if (status == ''){
                $('#span'+todo_id).html("Status not shown").css({'color': 'red'}).fadeOut(1000)
            }

            else {

                $.ajax({
                    url: 'update-todo',
                    type: "POST",
                    data : { status : status, id : todo_id },
                    dataType: 'JSON',
                
                success: function(data) {

                    if (data.result == 'success'){
                        console.log("success", data.status)
                        $('#statusInput'+todo_id).text(data.status);
                        $('#span'+todo_id).html("Success").css({'color': 'green'}).fadeOut(2000)
                    }
                    else{
                        console.log("error")
                    }
                }

                });
        }
        });

    });

    $('#create').click(function (e) {
        e.preventDefault();
        let title = $('#title').val()
        var Data = {
            title : title,
            status : $('input[name="status"]').val()
        }
        console.log("Title ", title)
        if (title == '' ) {
            $('#errormsg').html('Enter a Todo .!')
        }
        else {
            console.log("Todo Entered")
            $.ajax({
            url: 'create-todo',
            type: "POST",
            data: Data,
            dataType: 'JSON',
            success: function (data) {
                if (data.result == 'success') {
                    window.location.reload()
                    console.log(data.new_todo.title, data.status)
                } else {
                    $('#errormsg').html(data.result)
                }
            }
            });
        }
        
    });
</script>
{% endblock %}